.header-box {
    width: 171px;
    margin: auto;
    display: block;
    text-align: center;
}

.title-box {
    width: 281px;
    display: block;
    margin: auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 119px;
    color: rgba(0, 0, 0, 0.74);
}