.start-button {
    display: block;
    margin: auto;
    width: 315px;
    height: 56px;
    background: linear-gradient(267.72deg, #D8605B -0.89%, #F4C27F 112.29%);
    mix-blend-mode: normal;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
}

.start-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}