.header-image {
    margin: auto;
    padding-top: 68px;
    margin-bottom: 7px;
    width: 287px;
    text-align: center;
}

.header-box {
    width: 227px;
    margin: auto;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.title-box {
    width: 281px;
    display: block;
    margin: auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(0, 0, 0, 0.74);
    margin-bottom: 17px;
}